body,
html {
  background-color: #8a927b;
  position: relative;
  z-index: -99999;
}
.page-wrapper {
  width: 100%;
}

::placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.514);
  font-weight: 100;
}

label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 0;
  padding-top: 20px;
  margin: 0;
}

input {
  padding: 10px;
  margin: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.507);
}

textarea {
  padding: 10px;
  margin: 0;
  background: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.507);
  border-radius: 5px;
}

.contact p {
  font-weight: 100;
}

input[type="submit"] {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.103);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.815);
  font-weight: 300;
  text-transform: uppercase;
  background: #dfbe99;

  transition: padding 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ec9192;
  color: #fff;
  font-weight: 400;
  padding: 20px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 1em;
  font-weight: 100;
  z-index: 1;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 10;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #dfbe99;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ec9192;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 5px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.contact {
  color: #fff;
  margin-left: 50px;
  width: 75%;
  max-height: 100%;
  padding-top: 20px;
}
.contact-form {
  display: flex;
  color: #fff;
  flex-flow: column nowrap;
  padding-left: 20px;
  width: 100%;
  margin-left: 30px;
  margin-right: 0;
}

.type {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 0;
}

.radio {
  font-weight: 100;
  padding-top: 0;
}
