body,
html {
  background: #8a927b;
  font-family: "Syne", sans-serif;
}

@media screen and (max-width: 1010px) {
  .photo {
    width: 100%;
  }

  .photos {
    display: flex;
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: 1011px) {
  .photo {
    width: 33.3333333%;
    object-fit: contain;
    flex-basis: content;
  }

  .photos {
    display: flex;
    flex-flow: column wrap;
    height: 900vh;
  }
}
